#outer-wrapper {
    width: 1050px;
    margin: auto;
    overflow: auto;
}

#banner {
    width: inherit;
    height: 80px;
    position: fixed;
    z-index: 1;
    background-color: white;
    overflow: hidden;
}

#logo {
    position: relative;
    margin: 15px 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    letter-spacing: 6px;
    color: #666666;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
 }

 #logo.show {
    opacity: 1;
}

nav {
    width: inherit;
    height: 53px;
    position: fixed;
    z-index: 1;
    top: 50px;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    background-color: white;
}

nav ul {
    position: relative;
    top: 16px;
    margin: 0;
    padding:0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 15px;
    padding: 0 3px;
    font-size: 14px;
    font-family:'Quicksand', sans-serif;
    color: #222222;
    transition: background-color 0.8s;
}

nav li:hover {
    cursor: pointer;
}

nav li#about-me.selected {
    background-color: #cfd1e1;
}

nav li#my-timeline.selected {
    background-color: #c3e3dc;
}

nav li#things-i-like.selected {
    background-color: #f6b9ae;
}

nav li#contact-me.selected {
    background-color: #ffd683;
}

#spacer {
    height: 105px;
}

#header {
    width: inherit;
    height: 550px;
    position: relative;
    z-index: -1;
    overflow: auto;
    background-color: #A6E8AA;
}

#header p {
    position: absolute;
    width: inherit;
    top: 190px;
    font-family: 'Raleway';
    font-size: 40px;
    text-align: center;
    color: white;
}

#header #arrow {
    position: absolute;
    top: 420px;
    height: 60px;
    width: inherit;
}

#content {
    background-color: white;
    overflow: auto;
}

.content-article {
    position: relative;
    width: inherit;
    margin: 50px 0;
    overflow: hidden;
    background-color: #F6F6F6;
}

/* ==========================================================================
   About me section
   ========================================================================== */

#about-me-article {
    height: 1090px;
    background-color: #cfd1e1 ;
}

.about-me-heading {
    position: absolute;
    font-family: 'Raleway';
    font-size: 26px;
    color: white;
}

.about-me-text {
    position: absolute;
    width: 160px;
    height: 100px;
    text-align: center;
    font-family:'Quicksand', sans-serif;
    font-size: 16px;
    color: white;
}

#photo-heading {
    top: 190px;
    left: 475px;
}

#australia-heading {
    top: 409px;
    left: 415px;
}

#australia-text {
    top: 400px;
    left: 790px;
}

#canada-heading {
    top: 627px;
    left: 333px;
}

#canada-text {
    top: 631px;
    left: 650px;
}

#uk-heading {
    top: 847px;
    left: 473px;
}

#uk-text {
    top: 842px;
    left: 789px;
}

#lily-photo {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid white 3px;
    top: 150px;
    left: 630px;
}

#world-map {
    position: absolute;
    width: 320px;
    top: 139px;
    left: 84px;
}

/* ==========================================================================
   My Timeline Section
   ========================================================================== */

#my-timeline-article {
    height: 2000px;
    background-color: #c3e3dc;
}

.timeline-year {
    position: absolute;
    text-align: center;
    font-family:'Quicksand', sans-serif;
    font-size: 18px;
    color: white;
}

.timeline-month {
    position: absolute;
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 24px;
    color: white;
}

.timeline-heading {
    position: absolute;
    font-family: 'Raleway';
    font-size: 26px;
    color: white;
}

.timeline-text {
    position: absolute;
    font-family:'Quicksand', sans-serif;
    font-size: 16px;
    color: white;
}

.timeline-image {
    position: absolute;
}

#june-2013 .timeline-month {
    top: 156px;
    left: 138px;
}

#june-2013 .timeline-year {
    top: 191px;
    left: 149px;
}

#june-2013-heading {
    top: 90px;
    left: 460px;
}

#june-2013-text {
    top: 200px;
    left: 460px;
    width: 300px;
}

#mushroom-image {
    height: 110px;
    top: 142px;
    left: 795px;
}

#august-2012 .timeline-month {
    top: 457px;
    left: 122px;
}

#august-2012 .timeline-year {
    top: 491px;
    left: 150px;
}

#august-2012-heading {
    top: 427px;
    left: 330px;
}

#august-2012-text {
    top: 500px;
    left: 330px;
    width: 300px;
}

#steak-image {
    position: absolute;
    height: 35px;
    top: 481px;
    left: 660px;
}

#may-2012 .timeline-month {
    top: 753px;
    left: 143px;
}

#may-2012 .timeline-year {
    top: 788px;
    left: 150px;
}

#may-2012-heading {
    top: 693px;
    left: 440px;
}

#may-2012-text {
    top: 800px;
    left: 440px;
    width: 300px;
}

#mcgill-image {
    position: absolute;
    height: 35px;
    top: 784px;
    left: 755px;
}

#august-2011 .timeline-month {
    top: 1057px;
    left: 122px;
}

#august-2011 .timeline-year {
    top: 1091px;
    left: 150px;
}

#august-2011-heading {
    top: 993px;
    left: 360px;
}

#august-2011-text {
    top: 1100px;
    left: 360px;
    width: 290px;
}

#cloud-image {
    position: absolute;
    height: 90px;
    top: 1055px;
    left: 704px;
}


/* ==========================================================================
   Things I Like Section
   ========================================================================== */

#things-i-like-article {
    height: 1050px;
    background-color: #f6b9ae;
}

#play-article {
    height: 1000px;
}

.play-panel {
    height: 330px;
    width: 330px;
    overflow: hidden;
}

.geo-text {
    height: 20px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    color: white;
    opacity: 0.87;
}

.geo-marker {
    height: 25px;
    opacity: .85;
}

/*Panel 1*/

#panel-1 {
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url("/img/budapest.png");
    background-size: 100%;
}

#budapest-marker {
    position: absolute;
    top: 265px;
    left: 15px;
}

#budapest-text{
    top: 250px;
    left: 45px;
}

/*Panel 2*/

#panel-2 {
    position: absolute;
    top: 15px;
    left: 360px;
    background-image: url("/img/soho.png");
    background-size: 100%;
}

#soho-marker {
    position: absolute;
    top: 265px;
    left: 12.5px;
}

#soho-text{
    top: 250px;
    left: 45px;
}

/*Panel 3*/

#panel-3 {
    position: absolute;
    top: 15px;
    left: 637.5px;
}

/*Panel 4*/

#panel-4 {
    position: absolute;
    top: 330px;
    left: 12.5px;
}

/*Panel 5*/

#what-I-like-text {
    position: absolute;
    top: 15px;
    left: 705px;
    background-color: #a5a1c6;
    font-family:'Quicksand', sans-serif;
    color: white;
}

/*Panel 6*/

#panel-6 {
    position: absolute;
    top: 360px;
    left: 705px;
    background-image: url("/img/cambridge.png");
    background-size: 100%;: 
}

#cambridge-marker {
    position: absolute;
    top: 265px;
    left: 12.5px;
}

#cambridge-text{
    top: 250px;
    left: 45px;
}

/*Panel 7*/

/* ==========================================================================
   Contact Me Section
   ========================================================================== */

#contact-me-article {
    height: 680px;
    background-color: #ffd683;
}

.contact-me-label {
    position: absolute;
    width: 300px;
    margin: 0;
    left: 200px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 40px;
    color: white;
}

#get-in-touch-label {
    top: 265px;
}

#follow-me-label {
    top: 333px;
}

.contact-me-link {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid white 3px;
}

.contact-me-link img {
    position: relative;
}

#email-link {
    top: 161px;
    left: 702px;
    background-color: #b06a6c;
}

#email-svg {
    width: 44px;
    top: 13px;
    left: 13px;
}

#facebook-link {
    top: 211px;
    left: 622px;
    background-color: #df9fed;
}

#facebook-svg {
    width: 23px;
    top: 14px;
    left: 23px;
}

#linkedin-link {
    top: 211px;
    left: 782px;
    background-color: #a0cec6;
}

#linkedin-svg {
    width: 36px;
    top: 15px;
    left: 19px;
}

#twitter-link {
    top: 362px;
    left: 542px;
    background-color: #c1c5dd;
}

#twitter-svg {
    width: 37px;
    top: 18px;
    left: 18px;
}

#pinterest-link {
    top: 362px;
    left: 702px;
    background-color: #fe8285;
}

#pinterest-svg {
    width: 35px;
    top: 19px;
    left: 19px;
}

#soundcloud-link {
    top: 362px;
    left: 862px;
    background-color: #f6b9ae;
}

#soundcloud-svg {
    width: 55px;
    top: 6px;
    left: 8px;
}

#instagram-link {
    top: 412px;
    left: 622px;
    background-color: #b0ebde;
}

#instagram-svg {
    width: 37px;
    top: 17px;
    left: 17px;
}

#vimeo-link {
    top: 412px;
    left: 782px;
    background-color: #ada0f2;
}

#vimeo-svg {
    width: 40px;
    top: 21px;
    left: 16px;
}

#github-link {
    top: 462px;
    left: 702px;
    background-color: #c4bc9d;
}

#github-svg {
    width: 55px;
    top: 9px;
    left: 9px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
    height: 70px;
    border-top: 1px solid #C0C0C0;font-size: 14px;
    text-align: center;
}

#footer p {
    font-family:'Quicksand', sans-serif;
    font-size: 12px;
    color: #222222;
}
