#outer-wrapper {
    width: 1050px;
    margin: auto;
    overflow: auto;
}

#banner {
    width: inherit;
    height: 80px;
    position: fixed;
    z-index: 1;
    background-color: white;
    overflow: hidden;
}

#logo {
    position: relative;
    margin: 15px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    letter-spacing: 6px;
    color: #666666;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
 }

 #logo.show {
    opacity: 1;
}

nav {
    width: inherit;
    height: 53px;
    position: fixed;
    z-index: 1;
    top: 50px;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    background-color: white;
}

nav ul {
    position: relative;
    top: 16px;
    margin: 0;
    padding:0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 15px;
    padding: 0 3px;
    font-size: 14px;
    font-family:'Raleway', sans-serif;
    color: #222222;
    transition: background-color 0.8s;
}

nav li:hover {
    cursor: pointer;
}

nav li#about-me.selected {
    background-color: #cfd1e1;
}

nav li#my-timeline.selected {
    background-color: #c3e3dc;
}

nav li#things-i-like.selected {
    background-color: #f6b9ae;
}

nav li#contact-me.selected {
    background-color: #ffd683;
}

#spacer {
    height: 105px;
}

#header {
    width: inherit;
    height: 550px;
    position: relative;
    z-index: -1;
    overflow: auto;
    background-color: #A6E8AA;
}

#header p {
    position: absolute;
    width: inherit;
    top: 190px;
    font-family: 'Raleway';
    font-size: 40px;
    text-align: center;
    color: white;
}

#header #arrow {
    position: absolute;
    top: 420px;
    left: 500px;
    height: 60px;
    width: 60px;
}

#content {
    background-color: white;
    overflow: auto;
}

.content-article {
    position: relative;
    width: inherit;
    margin: 50px 0;
    overflow: hidden;
    background-color: #F6F6F6;
}

/* ==========================================================================
   About me section
   ========================================================================== */

#about-me-article {
    height: 1090px;
    background-color: #cfd1e1 ;
}

.about-me-heading {
    position: absolute;
    font-family: 'Raleway';
    font-size: 26px;
    color: white;
}

.about-me-text {
    position: absolute;
    width: 160px;
    height: 100px;
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: white;
}

#photo-heading {
    top: 190px;
    left: 475px;
}

#australia-heading {
    top: 409px;
    left: 415px;
}

#australia-text {
    top: 416px;
    left: 790px;
}

#canada-heading {
    top: 628px;
    left: 333px;
}

#canada-text {
    top: 638px;
    left: 650px;
}

#uk-heading {
    top: 848px;
    left: 473px;
}

#uk-text {
    top: 855px;
    left: 789px;
}

#lily-photo {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid white 3px;
    top: 150px;
    left: 630px;
    overflow: hidden;
    background-image: url("/img/lily-photo.png");
    background-size: 100%;
}

#world-map {
    position: absolute;
    width: 320px;
    top: 139px;
    left: 84px;
}

/* ==========================================================================
   My Timeline Section
   ========================================================================== */

#my-timeline-article {
    height: 3200px;
    background-color: #A0CEC6;
}

.timeline-year {
    position: absolute;
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    color: white;
}

.timeline-month {
    position: absolute;
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 24px;
    color: white;
}

.timeline-heading {
    position: absolute;
    font-family: 'Raleway';
    font-size: 26px;
    color: white;
}

.timeline-text {
    position: absolute;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    text-align: justify;
}

.timeline-image {
    position: absolute;
}

#may-2014 .timeline-month {
    top: 535px;
    left: 143px;
}

#may-2014 .timeline-year {
    top: 570px;
    left: 150px;
}

#may-2014-heading {
    top: 475px;
    left: 360px;
}

#may-2014-text {
    top: 580px;
    left: 360px;
    width: 277px;
}

#mushroom-image-2 {
    height: 110px;
    top: 530px;
    left: 696px;
}

#june-2013 .timeline-month {
    top: 856px;
    left: 138px;
}

#june-2013 .timeline-year {
    top: 891px;
    left: 149px;
}

#june-2013-heading {
    top: 790px;
    left: 450px;
}

#june-2013-text {
    top: 900px;
    left: 450px;
    width: 255px;
}

#mushroom-image {
    height: 110px;
    top: 842px;
    left: 795px;
}

#august-2012 .timeline-month {
    top: 1157px;
    left: 122px;
}

#august-2012 .timeline-year {
    top: 1191px;
    left: 150px;
}

#august-2012-heading {
    top: 1127px;
    left: 330px;
}

#august-2012-text {
    top: 1200px;
    left: 330px;
    width: 262px;
}

#steak-image {
    position: absolute;
    height: 35px;
    top: 92px;
    left: 16px;
}

#steak-link {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    top: 1090px;
    left: 640px;
}

#may-2012 .timeline-month {
    top: 1453px;
    left: 143px;
}

#may-2012 .timeline-year {
    top: 1488px;
    left: 150px;
}

#may-2012-heading {
    top: 1393px;
    left: 440px;
}

#may-2012-text {
    top: 1500px;
    left: 440px;
    width: 252px;
}

#mcgill-image {
    position: absolute;
    height: 35px;
    top: 72px;
    left: 17px;
}

#mcgill-link {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    top: 1410px;
    left: 740px;
}

#august-2011 .timeline-month {
    top: 1757px;
    left: 122px;
}

#august-2011 .timeline-year {
    top: 1791px;
    left: 150px;
}

#august-2011-heading {
    top: 1693px;
    left: 360px;
}

#august-2011-text {
    top: 1800px;
    left: 360px;
    width: 262px;
}

#cloud-image {
    position: absolute;
    height: 90px;
    top: 1755px;
    left: 704px;
}

#dentsubos-image {
    position: absolute;
    top: -25px;
    left: -28px;
    width: 280px;
}

#dentsubos-link {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    top: 1990px;
    left: 740px;
}

#may-2011 .timeline-month {
    top: 2055px;
    left: 142px;
}

#may-2011 .timeline-year {
    top: 2090px;
    left: 150px;
}

#may-2011-heading {
    top: 1990px;
    left: 380px;
}

#may-2011-text {
    top: 2100px;
    left: 380px;
    width: 282px;
}

#tv-mcgill-image {
    position: absolute;
    top: 48px;
    left: 20px;
    width: 135px;
}

#tvmcgill-link {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    top: 2310px;
    left: 660px;
}

#jan-2011 .timeline-month {
    top: 2355px;
    left: 145px;
}

#jan-2011 .timeline-year {
    top: 2390px;
    left: 150px;
}

#jan-2011-heading {
    top: 2330px;
    left: 290px;
}

#jan-2011-text {
    top: 2400px;
    left: 290px;
    width: 320px;
}

#yoshi-egg-image {
    position: absolute;
    height: 160px;
    top: 2625px;
    left: 719px;
}

#nov-2007 .timeline-month {
    top: 2654px;
    left: 145px;
}

#nov-2007 .timeline-year {
    top: 2690px;
    left: 150px;
}

#nov-2007-heading {
    top: 2630px;
    left: 380px;
}

#nov-2007-text {
    top: 2700px;
    left: 380px;
    width: 300px;
}

#cv-text {
    top: 2943px;
    left: 135px;
    font-size: 22px;
    font-family: 'Raleway'
}

#cv-svg {
    position: absolute;
    width: 50px;
    top: 2995px;
    left: 145px;
    color: white;
}


#cv-link {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    top: 2940px;
    left: 110px;
}

/* ==========================================================================
   Things I Like Section
   ========================================================================== */

#things-i-like-article {
    height: 1740px;
    background-color: #f6b9ae;
}

#play-article {
    height: 1000px;
}

.play-panel {
    height: 330px;
    width: 330px;
    overflow: hidden;
}

.geo-text {
    height: 20px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    opacity: 0.87;
    top: 272px;
    left: 45px;
}

.geo-marker {
    position: absolute;
    height: 25px;
    opacity: .85;
    top: 285px;
    left: 15px;
}

/*Panel 1*/

#panel-1 {
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url("/img/budapest.png");
    background-size: 100%;
}

/*Panel 2*/

#panel-2 {
    position: absolute;
    top: 15px;
    left: 360px;
    background-image: url("/img/soho.png");
    background-size: 100%;
}

/*Panel 3*/

#panel-3 {
    position: absolute;
    top: 15px;
    left: 705px;
    background-image: url("/img/santorini.png");
    background-size: 100%;:
}

/*Panel 4*/

#panel-4 {
    position: absolute;
    top: 360px;
    left: 15px;
    background-image: url("/img/aix.png");
    background-size: 100%;
}

/*Panel 5*/

#panel-5 {
    position: absolute;
    top: 360px;
    left: 360px;
    border-width: 3px;
    border-color: white;
/*    background-color: #CFD1E1;
*/}

#what-I-like-text {
    position: absolute;
    top: 70px;
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/*Panel 6*/

#panel-6 {
    position: absolute;
    top: 360px;
    left: 705px;
    background-image: url("/img/cambridge.png");
    background-size: 100%;:
}

/*Panel 7*/

#panel-7 {
    position: absolute;
    top: 705px;
    left: 15px;
    background-image: url("/img/athens.png");
    background-size: 100%;:
}

/*Panel 8*/

#panel-8 {
    position: absolute;
    top: 705px;
    left: 360px;
    background-image: url("/img/tremblant.png");
    background-size: 100%;:
}

#tremblant-marker {
    color: black;
}

#tremblant-text {
    color: black;
}

/*Panel 9*/

#panel-9 {
    position: absolute;
    top: 705px;
    left: 705px;
    background-image: url("/img/stradbroke.png");
    background-size: 100%;:
}

/*Panel 10*/

#panel-10 {
    position: absolute;
    top: 1050px;
    left: 15px;
    background-image: url("/img/chamonix.png");
    background-size: 100%;:
}

/*Panel 11*/

#panel-11 {
    position: absolute;
    top: 1050px;
    left: 360px;
    background-image: url("/img/hayfield.png");
    background-size: 100%;:
}

/*Panel 12*/

#panel-12 {
    position: absolute;
    top: 1050px;
    left: 705px;
    background-image: url("/img/istanbul.png");
    background-size: 100%;:
}

/*Panel 13*/

#panel-13 {
    position: absolute;
    top: 1395px;
    left: 15px;
    background-image: url("/img/portobello.png");
    background-size: 100%;:
}

/*Panel 14*/

#panel-14 {
    position: absolute;
    top: 1395px;
    left: 360px;
    background-image: url("/img/versailles.png");
    background-size: 100%;:
}

/*Panel 15*/

#panel-15 {
    position: absolute;
    top: 1395px;
    left: 705px;
    background-image: url("/img/montreal.png");
    background-size: 100%;:
}

/* ==========================================================================
   Contact Me Section
   ========================================================================== */

#contact-me-article {
    height: 680px;
    background-color: #ffd683;
}

.contact-me-label {
    position: absolute;
    width: 300px;
    margin: 0;
    left: 200px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 40px;
    color: white;
}

#get-in-touch-label {
    top: 265px;
}

#follow-me-label {
    top: 333px;
}

.contact-me-link {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid white 3px;
}

.contact-me-link img {
    position: relative;
}

#email-link {
    top: 161px;
    left: 702px;
    background-color: #b06a6c;
}

#email-svg {
    width: 44px;
    top: 13px;
    left: 13px;
}

#facebook-link {
    top: 211px;
    left: 622px;
    background-color: #df9fed;
}

#facebook-svg {
    width: 23px;
    top: 14px;
    left: 23px;
}

#linkedin-link {
    top: 211px;
    left: 782px;
    background-color: #a0cec6;
}

#linkedin-svg {
    width: 36px;
    top: 15px;
    left: 19px;
}

#twitter-link {
    top: 362px;
    left: 542px;
    background-color: #c1c5dd;
}

#twitter-svg {
    width: 37px;
    top: 18px;
    left: 18px;
}

#pinterest-link {
    top: 362px;
    left: 702px;
    background-color: #fe8285;
}

#pinterest-svg {
    width: 35px;
    top: 19px;
    left: 19px;
}

#soundcloud-link {
    top: 362px;
    left: 862px;
    background-color: #f6b9ae;
}

#soundcloud-svg {
    width: 55px;
    top: 6px;
    left: 8px;
}

#instagram-link {
    top: 412px;
    left: 622px;
    background-color: #b0ebde;
}

#instagram-svg {
    width: 37px;
    top: 17px;
    left: 17px;
}

#vimeo-link {
    top: 412px;
    left: 782px;
    background-color: #ada0f2;
}

#vimeo-svg {
    width: 40px;
    top: 21px;
    left: 16px;
}

#github-link {
    top: 462px;
    left: 702px;
    background-color: #c4bc9d;
}

#github-svg {
    width: 55px;
    top: 9px;
    left: 9px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
    height: 70px;
    border-top: 1px solid #C0C0C0;font-size: 14px;
    text-align: center;
}

#footer p {
    font-family:'Raleway', sans-serif;
    font-size: 12px;
    color: #222222;
}
